.novo-contato-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.novo-contato-btn-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vh;
}
.lista-contatos {
  margin-top: 5vh;
}
#texto-criar {
  margin-left: 2vh;
}
